body{
    background-color: #011021;
}
.main{
    width: 100%;
  
   height: 2000px;
    display: flex;
    flex-direction: column;
align-items: center;}
.header{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 23px;
    position: fixed;
    height: 40px;
    top: 0%;
    background-color:  #011021;
    z-index: 3333;
}
.logo{
    width: 60%;
    color: #ddd;
    font-weight: bold;
    font-size: 18px;

}
.att{
    color: #a8a8a8;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding: 5px;
}
.att::after{
    content: '';
    width: 0px;
    background-color: #a8a8a8;
    height: 2px;
    transition: width 0.2s ease;
    position: absolute;
    bottom: 0;
    left: 0%;

}
.att:hover::after {
    width: 100%;
  }
.name{
    margin-top: 100px;
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #ddd;
    position: relative;
    padding: 0 30px 50px 30px;
}
.name::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #0075ff;
    left: 0%;
    border-radius: 10px ;

}
.name::before{
    content: '';
    position: absolute;
    left: -7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0075ff;
    top: -5px;
   
}
.me{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
  

}
.about_me{
    font-size: 25px;
}
.my3d{
    height: 600px;
}
.text{
    display: flex;
    flex-direction: column;
    width: 80%;
transition: opacity 0.6s ease;
}
.maintext{
    font-size: 30px;
    color: #ddd;
   display: flex;
  
   justify-content: center;
    position: relative;
    transition:   height 1s ease;
    opacity: 1;
    height:80px ;
    flex-direction: column;
    

}
.top{
    height: 50px;
}
.secondtext{
    font-size: 14px;
    color: #bdbdbd;
    padding: 30px;
    position: relative;
   
    opacity: 1;
    line-height: 20px;
}
.small{
    font-size: 16px;
   
    color: #a8a8a8;
}
.big{
    padding: 10px;
    color: #ddd;
    font-size: 40px;
    color: #ddd;
    font-weight: bold;
}
.skills{
    margin-top: 100px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    background-color: #021831;
    height: 200px;
    width: 15%;
    border-radius: 15px;
    position: relative;
    transition: opacity 0.8s ease, margin-left 0.4s ease;
    opacity: 0;
    margin-left: 0px;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
}
.description{
    color: #ddd;
    font-weight: bold;
    font-size: 18px;
    display: flex;
   
    width: 100%;
   text-align: center;
   align-items: center;
   justify-content: center;
}
.skillImg{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.react{
    width: 70px;
}

.opacity{
    transition: none;
}
.des_main{
    position: relative;
}
.skills_des{
    margin-top: 100px;
    position: relative;
    width: 80%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 700px;

}
.des{
position: absolute;
left: 50%;
height: 100%;
width: 5px;
background-color: white;
top: 0%;
z-index: -1;
}
.small_img .small_img1{
    background-color:  #031b36;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.react2{
    width: 30px;
}
.small_img::after{
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #021831;
   right: 100%;
}